<?xml version='1.0' encoding='utf-8'?>
<widget id="mx.acd.app" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ACD Lecturas</name>
    <description>
        Aplicación para la toma de lecturas de agua
    </description>
    <author email="control.sistemas77@gmail.com" href="http://acd.mx">
        Control de Sistemas ACD
    </author>
    <content src="index.html" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="icons/36.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="icons/48.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="icons/72.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="icons/96.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="icons/144.png" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~6.0.6" />
    <engine name="android" spec="~6.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <allow-intent href="market:*" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <engine name="browser" spec="~4.1.0" />
    <plugin name="cordova-plugin-x-toast" spec="~2.6.0" />
</widget>
