<?xml version='1.0' encoding='utf-8'?>
<widget id="mx.acd.app" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Lecturas de Agua App</name>
    <description>
        Aplicación para la toma de lecturas de agua
    </description>
    <author email="control.sistemas77@gmail.com" href="http://acd.mx">
        Control de Sistemas ACD
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~6.0.6" />
    <engine name="android" spec="~6.0.0" />
</widget>
